* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "CompagnonLight";
    background: #fbace7;
    color: red;
    text-align: center;
    font-size: 8px;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

h1 {
    font-family: "MonsieurLaDoulaise";
    color: red;
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px; 
}

.top-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: relative;
    top: -50px;
}

.top-text span {
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    animation: fade-in-out 10s infinite;
}

.modern {
    animation-delay: 0s;
}

.old {
    animation-delay: 5s;
}

@keyframes fade-in-out {
    0%, 45% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}