* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ManropeLight";
    background: #fbace7;
    color: red;
    text-align: center;
    font-size: 8px;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

h1 {
    font-family: "PencerioHairline";
    color: red;
    font-size:250px;
    text-align: center;
    margin-bottom: 20px; 
   
}

.top-text {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0 20px;
    position: absolute;
    top: 20px;
    font-size: 30px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px; /* Abstand zwischen den Bildern */
  padding: 16px;
  width: 90%;
  max-width: 1200px;
}
    
.one {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




