* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ManropeLight";
    background: #fbace7;
    color: red;
    text-align: center;
    font-size: 8px;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

h1 {
    font-family: "PencerioHairline";
    color: red;
    font-size:250px;
    text-align: center;
    margin-bottom: 20px; 
   
}

.top-text {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0 20px;
    position: absolute;
    top: 20px;
    font-size: 30px;
    }

.top-text a {
      color: red;
      text-decoration: none;
}


.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
  width: 90%;
  margin-top: 50px;
}
                
.one {
  grid-column: 1; 
  flex-direction: column;
  gap: 10px;
}

.two {
  grid-column: 2; 
  flex-direction: column;
  gap: 10px;
}

.three {
  grid-column: 3; 
  flex-direction: column;
  gap: 10px;
}

.four {
  grid-column: 4; 
  flex-direction: column;
  gap: 10px;
}

.five {
  grid-column: 5; 
  flex-direction: column;
  gap: 10px;
}

 img {
  width: 100%; 
  height: auto; 
}



